<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>srd.loom.google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.350410633506-qldhmb35u4ko6a44nv8kvehc1jff04pr</string>
			</array>
		</dict>
	</array>
	<key>GoogleOAuthClientID</key>
	<string></string>
	<key>GoogleOAuthRedirectURI</key>
	<string></string>
	<key>MicrosoftOAuthClientID</key>
	<string></string>
	<key>MicrosoftOAuthRedirectURI</key>
	<string></string>
	<key>MicrosoftOAuthTenantID</key>
	<string>common</string>
	<key>NSCameraUsageDescription</key>
	<string>Loom uses the camera so you can capture and share your Little Wins progress.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Loom saves your Little Wins share snapshots to Photos when you choose Save.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<false/>
</dict>
</plist>
